 img{
        width: 400px;
        height: 400px;
    }
    .img1{
        filter: blur(90px);
        filter: brightness(200%)
        contrast(200%);
    }
    .img2{
        filter: invert(2);
    }